.title_container{
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 20px;
    border-top:2px solid var(--gold);
    font-family: var(--font-base);
    position: relative;    
    & .left_section{
        max-width: 100%;
    }
    & .right_section{
        max-width: 100%;
    }
    .pre-title{        
        font-size:15px;
        color:var(--gold);
        text-transform: uppercase;
        font-weight: 600;
        background: var(--bg-color);
        top: -13px;
        position: absolute;
        padding-right:10px;

    }
    .title{
        font-size:36px;
        color:#fff;
        line-height:1;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .text{
        font-size:20px;
        color:#fff;
        line-height:22px;
        font-weight: 300;
        b{
            font-weight: 600;
        }
    }

}

@media (min-width:769px){
.title_container{      
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    & .left_section{
        max-width: 40%;
    }
    & .right_section{
        max-width: 60%;
        text-align: right;
    }
}
}

@media (min-width:1440px){
.title_container{      
    display: flex;
    align-items: flex-start;
    & .left_section{
        max-width: 40%;
    }
    & .right_section{
        max-width: 40%;
        text-align: right;
    }
}
}