<div class="card card--skeleton">
    <div class="card-link">
        <div class="badges-wrapper">
            <div class="skeleton-badge"></div>
            <div class="skeleton-badge"></div>
        </div>
        <div class="img skeleton-img"></div>
    </div>
    <div class="data-video">
        <div class="data-left">
            <div class="skeleton-title"></div>
            <div class="skeleton-cast"></div>
        </div>
        <div class="data-right">
            <div class="skeleton-icon"></div>
            <div class="skeleton-icon"></div>
            <div class="skeleton-icon"></div>
        </div>
    </div>    
</div>
