<div class="card-site card-site--skeleton">
  <div class="card-site__left">
    <div class="skeleton-logo"></div>
    <div class="skeleton-line skeleton-line--long"></div>
    <div class="skeleton-line skeleton-line--short"></div>
    <div class="skeleton-btn"></div>
  </div>
  <div class="card-site__right">
    <div class="card-site__video">
      <div class="card-site__video-thumb skeleton-img"></div>
      <div class="skeleton-title"></div>
      <div class="skeleton-cast"></div>
    </div>
    <div class="card-site__video">
      <div class="card-site__video-thumb skeleton-img"></div>
      <div class="skeleton-title"></div>
      <div class="skeleton-cast"></div>
    </div>
  </div>
</div>
