<div class="card">
    <a href="{{videoUrl}}" class="card-link" data-video-id="{{videoId}}" data-video-url="{{videoUrl}}" target="_blank" rel="noopener">
        <div class="badges-wrapper">
            <div class="badge-item exclusive"><span>exclusive</span></div>            
            {{qualityBadge}}
            <div class="badge-item interactive"><span><img src="/images/icons/white/vibrate.svg" alt="Interactive"></span></div>
            <div class="badge-item top"><span>TOP 10</span></div>
            
        </div>
        <div class="img">
            <img src="{{poster}}" width="420" height="236" loading="lazy" decoding="async" alt="{{title}}">
        </div>
    </a>
    <div class="data-video">
        <div class="data-left">
            <h3>{{title}}</h3>
            <div class="cast">{{performers}}</div>
        </div>
        <div class="data-right">
            <div class="release-date">
                <span class="material-symbols-outlined">calendar_month</span><span>Mañana</span>
            </div>
            <div class="rate">
                <span class="material-symbols-outlined">thumb_up</span><span>100%</span>
            </div>
            <div class="favorite">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="20px" fill="#fff"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"/></svg>
            </div>
        </div>
    </div>    
</div>