<div class="card card--skeleton card-series">
    <div class="card-link">
        <div class="card-series__image-container">
            <div class="skeleton skeleton-image"></div>
        </div>
        <div class="badges-wrapper">
            <div class="skeleton skeleton-badge"></div>
        </div>
    </div>
    <div class="data-video">
        <div class="data-left">
            <div class="skeleton skeleton-title"></div>
            <div class="skeleton skeleton-cast"></div>
        </div>
        <div class="data-right">
            <div class="skeleton skeleton-icon"></div>
            <div class="skeleton skeleton-icon"></div>
        </div>
    </div>
</div>
