<div class="card">
    <a href="#" class="card-link" data-video-id="" data-video-url="">
        <div class="badges-wrapper">                    
            <div class="badge-item exclusive"><span>EXCLUSIVE</span></div>
            <div class="badge-item quality"><span>8K</span></div>
            <div class="badge-item interactive"><span><img src="public/images/icons/white/vibrate.svg" alt="" width="22" height="22"></span></div>
            <div class="badge-item top"><span>TOP 10</span></div>              
        </div>
        <div class="img">
            <img src="public/images/thumbnails/6.webp" width="420" height="auto" fetchpriority="high" decoding="async" alt="...">
        </div>
        <div class="data-video">
            <div class="data-left">
                <h3>Nombre del video</h3>
                <div class="cast">                
                    Asteria Jade, Gal Ritchie, Hime Marie & 3 more
                </div>
            </div>
            <div class="data-right">
                <div class="rate"><span class="material-symbols-outlined">thumb_up</span><span class="rating">100%</span></div>
                <div class="favorite">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="20px" fill="#fff"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"/></svg>
                </div>
            </div>
        </div>
    </a>
</div>