<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
<load src="src/partials/_card.html" />
