<section class="most-searched-categories">
  <div class="container">
    <div class="most-searched-categories__header">
      <h2 class="most-searched-categories__title">Most searched categories</h2>
      <p class="most-searched-categories__subtitle">What are you biggest turn ons? We have hundreds of videos to satisfy any of your desires, let yourself go.</p>
    </div>
    <div class="most-searched-categories__list">
      <a href="/categories/big-tits-vr" class="most-searched-categories__item">Big Tits VR</a>
      <a href="/categories/anal-vr" class="most-searched-categories__item">Anal VR</a>
      <a href="/categories/latina-vr" class="most-searched-categories__item">Latina VR</a>
      <a href="/categories/milf-vr" class="most-searched-categories__item">MILF VR</a>
      <a href="/categories/asian-vr-porn" class="most-searched-categories__item">Asian VR Porn</a>
      <a href="/categories/orgy-vr-porn" class="most-searched-categories__item">Orgy VR Porn</a>
      <a href="/categories/teen-18" class="most-searched-categories__item">Teen 18+</a>
      <a href="/categories.html" class="most-searched-categories__item most-searched-categories__item--all">All Categories</a>
    </div>
  </div>
</section>
