<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <load src="src/partials/_card.html" />
        </div>
        <div class="swiper-slide">
            <a class="more-videos" href="">more videos</a>
        </div>     
    </div>
</div>