<nav class="submenu">
  <div class="submenu__item">
    <a href="/best-videos.html" class="submenu__link">Best Videos</a>
  </div>
  <div class="submenu__item">
    <a href="/most-viewed-videos.html" class="submenu__link">Most Viewed</a>
  </div>
  <div class="submenu__item">
    <a href="/hottest-videos.html" class="submenu__link">Hottest Videos</a>
  </div>
  <div class="submenu__item">
    <a href="/exclusive-videos.html" class="submenu__link">Exclusive Videos</a>
  </div>
  <div class="submenu__item">
    <a href="/interactive-videos.html" class="submenu__link">Interactive Videos</a>
  </div>
  <div class="submenu__item">
    <a href="/free-vr-porn-videos.html" class="submenu__link">Free VR Porn</a>
  </div>
</nav>
