:root {
  --bg-color:#000;
  --primary: #e4003a;
  --primary-rgb: 228, 0, 58; /* Valores RGB separados */
  --secondary: #64748b;
  --terciary:#f2b03c;
  --orange:#ff7815;
  --gold:#f2b03c;
  --radius: 8px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  --porn-color: #e4003a;
  --gay-color: #3cbff0;
  --trans-color: #c736f3;
  --passion-color: #d0589d;
  --amateur-color: #ff7701;
  --jap-color: #ff0026;
  --povgay-color: #e2552d;

  --font-base:'Poppins', sans-serif; 
}